footer{
    background-color: #ff1919;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%; 
}

.footer-top{
    font-size: 20px;
    display:flex;
    width:100%;
    height:33.3%;
    flex-direction: row;
    justify-content: space-between;
}

.footer-top-left{
    display:flex;
    flex-direction: column;
    gap:5px;
    
}

.footer-top-right{
    display:flex;
    gap:70px;
    height:100%;
}

#footer-logo{
    width: 20%;
}

.footer-middle{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: white;
    border-style: double;
    width:100%;
    height:33.3%;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 33.3%;
    align-items: flex-end;
}