@import url(./reset.css);

body{
    background-color:darkred;
}

.main-page{
    display: flex;
    justify-content: center;
}

/* HEADER */
header{
    display: flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    width:100%;
    height:80px;
}

#header-logo{
    height: 50%;
}