@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url(./header.css);
@import url(./footer.css);

a{
    color: white;
    text-decoration: none;
}

h2{
    color: white;
    font-weight:900;
    font-size: 40px;
    font-family: "archivo black";
}

body{
    display: flex;
    justify-content: center;
    font-family:lato;
    background-color:#360707;
    margin:0;
}

.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:85%;
    background-color: #0d0d0d;
}

/* HEADER */


/* FOOTER */
