@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('./rectangle-buttons.css');
@import url(./header.css);
@import url(./footer.css);

a{
    color: white;
    text-decoration: none;
}

h1{
    font-family: "Quantico";
    color: #ff1919;
    font-weight: bold;
    font-size: 100px;
}

h2{
    color: white;
    font-weight:900;
    font-size: 200%;
    font-family: "archivo black";
}

h3{
    color: white;
    font-weight:900;
    font-size: 25px;
    font-family: "Quantico";
}

body{
    display: flex;
    justify-content: center;
    font-family:lato;
    background-color:#360707;
    margin:0;
}

.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:85%;
    background-color: #0d0d0d;
    gap:50px;
}

/* poster-div */

.poster-div{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
}

#poster{
    height:700px;
}

/* SECTIONS */

.section-classic{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

/* DROPDOWN */
.dropdown-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.dropdown-event-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:90%;
    border-color:#292929; border-width:1px 0px 1px; border-style: solid;
    padding-bottom: 25px; padding-top: 25px;
    cursor:pointer;
}

.dropdown-event-button:hover{
    background-image: linear-gradient(to right,#ff1919,#292929);
}

.dropdown-event-button::after{
    background-image: url('../images/ui/drop-down-arrow.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    transition: transform 0.2s;
}

.dropdown-event-button--active::after{
    transform:rotate(-180deg);
}

.dropdown-event-button-image{
    width:6%;
}

.dropdown-answer{
    visibility: hidden;
    opacity: 0;
    transition:all 0.5s;
}

.dropdown-answer--visible{
    visibility: visible;
    opacity:1;
}