@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('./rectangle-buttons.css');
@import url(./dropdown.css);
@import url(./header.css);
@import url(./footer.css);

a{
    color: white;
    text-decoration: none;
}

p{
    color:white;
    font-family: "Lato";
    font-size:15px;
    
}

h1{
    font-family: "Quantico";
    color: #ff1919;
    font-weight: bold;
    font-size: 80px;
}

h2{
    color: white;
    font-weight:900;
    font-size: 200%;
    font-family: "archivo black";
}

h3{
    color: white;
    font-weight:900;
    font-size: 25px;
    font-family: "Quantico";
}

h4{
    color: white;
    font-weight:900;
    font-size: 20px;
    font-family: "Lato";
}

body{
    display: flex;
    justify-content: center;
    font-family:lato;
    background-color:#360707;
    margin:0;
}

.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:85%;
    background-color: #0d0d0d;
    gap:50px;
}

/* poster-div */

.poster-div{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
}

#poster{
    height:700px;
}

/* SECTIONS */

.section-classic{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.centered-content{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.colored-shop-card-margin{
    display:flex;
    justify-content: center;
    align-items: center;
    width:445px;
}

.gray{
    background-color: #292929;
}

/* UFC Store */

.store{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.store-row{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.shop-card-centered{
    width:400px;
    display: flex;
    flex-direction: column;
    padding:10px;
    border-color: white; border-style: solid; border-width: 2px;
}

